@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


body {
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    min-height: 100vh;
    display: flex;
    
}

* {
    padding: 0;
    margin: 0;
}

div {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    transition: all .5s ease-in-out;
}

div:hover {
    flex:1.4;
    filter: grayscale(0);

}

.imgs {
    filter: grayscale(.9);
}